<!DOCTYPE html>
<html>
<head>
  <title>Wisdom from The Wiz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div class="circle">
						<br />
						Wisdom
						<br />
						From
						<br />
						Wiz
					</div>

				</div>

				<div class="col-xs-4 slogan">
					Splurting out usolicited advice about fitness and philosophy since 2016.
				</div>

				<div class="col-xs-5 links">
					<%= link_to 'Add Your Own', '#' %>
					<%= link_to 'About', '#' %>
				</div>
			</div>
		</div>
	</header>
	<hr>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
